body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container-form {
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: rgb(60, 60, 60);
  width: max-content;
  height: max-content;
  padding: 40px 70px;
  border-radius: 7%;
}

.input-text{
    width: 100%;
    outline: none;
    border: 2px solid rgb(198, 198, 198);
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

label{
    font-size: 20px;
}

br{
    margin-top: 15px;
}

h1{
    font-size: 35px;
}

.input-gender{
    margin-top: 5px;
}

.submit-button{
    margin-top: 25px;
    padding: 10px 0px;
    width: 100%;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 175, 0);
    color: white;
}

.submit-button:hover{
    background-color: green;
    cursor: pointer;
}
